*{
    font-family: Verdana;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    color: teal;    
  }

  body {background-color: lightgray;}
p{
    margin-left: 300px;
    margin-right: 300px
}